~*
Thumbs.db
.DS_Store
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
wp/
node_modules/
vendor/
local.wp-config.php
wp-config.php
themes/side-project/*
.lando.yml
plugins/wp-mail-smtp