/***********************************
****** Header media queries ********
***********************************/

@media screen and (min-width: 400px) {
	header {
		width: 95%;
		margin: 0 auto;
		height: 12em;
	}
	.logo {
		transform: scale(0.4)
	}
	.title {
		display: block;
		margin: 0 auto;
		margin-top: -2.5em; 
		width: 18.75em;
	}
	.log-in {
		position: absolute;
		top: 1.2em;
		right: -1.5em;
	}
	.sign-up {
		position: absolute;
		top: 1.2em;
		right: 5.6em;
	}
	.mag-glass {
		display: inline;
		background-color: black;
		border: 1px solid gray;
		margin-right: 0.5em;
		margin-top: 0.5em;
		float: right;
	}
	.pie1, .menu-default, .profile-card, .avatar-nest, .search, .menu-text, .menu-close {display: none;}
}


@media screen and (min-width: 830px){
	header {height: 14em;}
	.pie1, .menu-default, .profile-card, .search, .menu-text, .menu-close {display: block;}
	.title {
		display: inline;
	}
	.log-in {
		top: 1.2em;
		right: 2.4em;
	}
	.sign-up {
		top: 1.2em;
		right: 9.5em;
	}
	.avatar-nest {
		position: absolute;
		display: inline-block;
		top: 4em;
		right: 8.5em;
		z-index: 5;
	}
	.avatar-nest-full {
		position: absolute;
		z-index: 100;
	}
	.mag-glass {
		position: absolute;
		top: 7.9em;
		right: 12.5em;
		border: none;
		background: none;
		z-index: 1;
	}
	.search {
		position: absolute;
		top: 9.5em;
		right: 6.9em;
		width: 10em;
	}
}

@media screen and (min-width: 1059px){
	.title {
		position: relative;
		top: -9em;
		left: -8em;
		width: 30em;
	}
	.logo {
		position: relative;
		top: -0.7em;
		left: -3.2em;
		height: 20em;
	}
}

@media screen and (min-width: 1273px){
	.title {
		top: -8em;
		width: 40em;
	}
	.log-in {
		top: 1em;
	}
	.sign-up {
		top: 1em;
	}
}

@media screen and (min-width: 1518px){
	.title {
		left: 0em;
	}
}

/***********************************
****** navbar media queries ********
***********************************/

@media screen and (min-width: 400px){
	ul.top-nav {
		display: block;
	    padding-left: 0px;
	    width: 60%;	
		margin: 1em auto;
	}
	ul li.top-nav-items {
		display: block;
		font-size: 1em;
		margin: 0.5em auto;
		padding: 0.3em;
	}
	.top-nav-items {
		margin: 0 auto;
	}
	a {
		color: #fff;
	}
	a:hover {
		color: green;
	}

}

@media screen and (min-width: 1059px){
	ul, ul.top-nav {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	}
	ul.top-nav {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
	}
	ul li.top-nav-items {
		display: flex;
		margin: 1em 0.2em;
		width: 80%;
		color: #fff;
		font-size: 1em;
		padding: 0.7em 10%;
		background-color: rgba(11,66,26,1);
		border: 2px solid black;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
	}
	ul li.top-nav-items:hover {
		color: green;
	}
}

@media screen and (min-width: 1440px){
	ul li.top-nav-items {
		font-size: 1.8em;
	}
}

/***********************************
************* side ads *************
***********************************/

.ads-temp-left, .ads-temp-right{
	display: none;
}

@media screen and (min-width: 1273px){
	.ads-temp-left, .ads-temp-right{
		display: block;
	}
}

/***********************************
****** carousel media queries ******
***********************************/

@media screen and (min-width: 400px){
	.full-box, .hot-games, .container, .carousel, .item {
		display: none;
	}
}

@media screen and (min-width: 1418px){
	.full-box, .hot-games, .container, .carousel, .item {
		display: block;
	}
}

/***********************************
******** games media queries *******
***********************************/
@media screen and (min-width: 400px) {
	.flex-games {
		flex-wrap: wrap;
		justify-content: center;
	}
	.front-page-games {
		height: 6em;
		width: 6em;
	}
	.games-nav {
		margin-bottom: 1em;

	}
}

@media screen and (min-width: 671px) {
	.front-page-games {
		height: 12em;
		width: 12em;
	}
}

@media screen and (min-width: 1151px) {
	.front-page-games {
		height: 16em;
		width: 16em;
	}
}

@media screen and (min-width: 1472px) {
	.front-page-games {
		height: 20em;
		width: 20em;
	}
}

/***********************************
******* footer media queries *******
***********************************/
@media screen and (min-width: 400px) {
	.footer-nav {
		display: block;
		text-align: center;
	}
	.footer-nav-items h1 {
		display: inline-block;
		border: none;
		margin: 0;
		padding: 0;
		background: none;
		cursor: pointer;
		font-size: 1.5em;
			}
		.footer-nav-items::after {
			content: " ||";
			font-size: 1.5em;
			color: #fff;
		}
		a:last-child .footer-nav-items::after {
			content: "";
		}
	
	ul {
		margin: 0 auto;
	}
	.footer-logo {
		display: block;
		transform: scale(0.3);
		margin: 0em auto;
		margin-top: 0em;
	}
	.facebook-icon {
		display: block;
		top: 4em;
		margin: 1em auto;

	}
}


@media screen and (max-width: 484px){
	ul.footer-nav {
		font-size: 0.8em;}
}



