/*custom stylesheet*/
/* 1068 */

body{
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(11,66,26,1) 20%, rgba(0,0,0,1) 30%, rgba(11,66,26,1) 40%, rgba(0,0,0,1) 50%, rgba(11,66,26,1) 60%, rgba(0,0,0,1) 70%, rgba(11,66,26,1) 80%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(10%, rgba(0,0,0,1)), color-stop(20%, rgba(11,66,26,1)), color-stop(30%, rgba(0,0,0,1)), color-stop(40%, rgba(11,66,26,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(60%, rgba(11,66,26,1)), color-stop(70%, rgba(0,0,0,1)), color-stop(80%, rgba(11,66,26,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(11,66,26,1) 20%, rgba(0,0,0,1) 30%, rgba(11,66,26,1) 40%, rgba(0,0,0,1) 50%, rgba(11,66,26,1) 60%, rgba(0,0,0,1) 70%, rgba(11,66,26,1) 80%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
	box-sizing: border-box;
}



/***********************************
************* Header ***************
***********************************/

header, footer {
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(62%, rgba(71,71,71,1)), color-stop(89%, rgba(0,0,0,1)), color-stop(100%, rgba(43,43,43,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b', GradientType=0 );
	width: 95%;
	margin: auto;
}

header {
	height: 15em;
	margin-bottom: 2em;
}

footer {
	color: white;
}


.logo {
	display: inline-block;
	margin: 1em;
	margin-top: 2.5em;
	cursor: pointer;
}

.title {
	display: inline;
	transform: scale(2);
	margin-left: 15em;
	margin-bottom: 5em; 
}


/***********************************
********* sign-up/log-in ***********
***********************************/

.sign-up, .log-in {
	position: absolute;
	top: 1em;
	color: #000;
	display: inline-block;
	font-size: 1.4em;
}

.sign-up {
	right: 9.1em;
	color: #000;
	margin-top: 0.5em;
	padding-right: 0.6em;
}

.log-in {
	right: 2em;
	margin-right: 3.8em;
	margin-top: 0.5em;
}


p.sign-up:hover, p.log-in:hover {
	color: green;
	cursor: pointer;	
}

.log-in::before {
	content: " || ";
	color: #000;
}

/***********************************
************** menu ****************
***********************************/

.menu-overlay, .pie, .pie1, .label, .slice {
	transition: all 1s ease-out;
}

.menu-overlay {
	position: fixed;
    width: 100%;
    height: 100em;
    background: rgba(0,0,0,0.9);
    z-index: 100000;
    margin-left: 0;
    padding-top: 2em;
    top: 0;
    right: 0;
    
}

.menu-default {
	position: fixed;
	top: 0em;
}

.pie1 {
	list-style: none;
	 z-index: 1000001;
}

.label{
	display: none;
	 transform: rotate(0deg) skewY(0deg);
	  z-index: 1000001;
}

.pie {
  position: relative;
  margin: 5em auto;
  padding-left: 10em;
  width: 32em; height: 32em;
  border-radius: 50%;
  list-style: none;
  z-index: 1000001;
}
.slice {
  overflow: hidden;
  position: absolute;
  top: 50%; right: 50%;
  margin-top: -200px;
  margin-right: -360px;
  width: 70%; height: 50%;
  transform-origin: 0% 100%;
  z-index: 1000002;
}

.slice-contents1, .slice-contents2, .slice-contents3, .slice-contents4, .slice-contents5 {
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  border-radius: 50%;
  background: lightblue;
  z-index: 1000003;
  background: rgba(11,66,26,1);
}

.slice1, .slice2, .slice3, .slice4, .slice5, .slice-contents {
  transform: skewY(22.5deg); 
  cursor: pointer;
  z-index: 1000001;
}

.slice1 {
  transform: rotate(0deg) skewY(-22.5deg);
}

.slice2 {
  transform: rotate(72deg) skewY(-22.5deg);
}

.slice3 {
  transform: rotate(144deg) skewY(-22.5deg);
}

.slice4 {
  transform: rotate(216deg) skewY(-22.5deg);
}

.slice5 {
  transform: rotate(288deg) skewY(-22.5deg);
}

.slice-contents:hover { 
	background: #222;
	cursor: pointer; 
} 
.radial-label1, .radial-label2, .radial-label3, .radial-label4, .radial-label5 {
	position: absolute;
	display: inline-block;
	z-index: 1000006;
	top: 2em;
	right: 6em;
	color: #fff;
}    

.radial-label2 {
	transform: rotate(-73deg);
}

.radial-label3 {
	right: 5em;
	transform: rotate(215deg);
}

.radial-label4 {
	transform: rotate(144deg);
}

.radial-label5 {
	transform: rotate(70deg);
}
.logo-overlay1 {
	display: none;
}

.logo-overlay {
	position: absolute;
	display: inline-block;
	z-index: 1000006;
	top: 15em;
	transform: scale(0.7) ;
}

.logo-overlay:hover {
	transform: scale(1);
	transition: 1s ease-in-out;
}

.menu-close, .menu-text {
	position: fixed;
    top: 0;
    right: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: green;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 5em;
    color: #fff;
    cursor: pointer;
    z-index: 10000000;
}

.next, .prev, #top-current-number, .next1, .prev1, .games-number, .menu-close, .menu-text {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;    
  user-select: none; 
}

.menu-close {
    width: 1.4em;
	padding-left: 0.36em;
}
.menu-text {
	width: 1.4em;
	padding-left: 0.24em;
}

.menu-close::before {
	color: red;
	content: '\2718';
}

.menu-text::before { 
	background-color: green;
	content:'\2630'; 
}

@media screen and ( max-width: 700px ) {
	.menu-default .menu-close {
		display: none;
	}
}


/***********************************
************* account **************
***********************************/

.avatar {
	border: 3px solid #000;
	border-radius: 50%;
    position: absolute;
    top: 1em;
    width: 4.6875em;
    height: 4.6875em;
    right: 1em;
    cursor: pointer;
    transition: 1s;
}

.dropdown-arrow {
	position: absolute;
	top: 0.2em;
	right: 3.6em;
	font-size: 2em;
	background: none;
	color: white;
	cursor: pointer;
	transition: 100ms;
	will-change: transform;
}

.dropdown-reverse {
	transform: rotateY(180deg);
	transition: 500ms;
	will-change: transform;
}

.avatar-nest {
	position: absolute;
	height: 6.2em;
	width: 10em;
	background-color: #404040;
	top: 5em;
    right: 8em;
    transition: 1s;
    will-change: transform;
}

.avatar-nest-full {
	height: 20em;
	width: 20em;
	z-index: 100000;
	transition: 1s;
	will-change: transform;
}

.profile-card {
	position: fixed;
	margin-top: -100em;
	margin-left: -20em;
	transition: 0s;
}

.avatar-profile-card {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -325px;
	height: 40em;
	width: 40em;
	border-radius: 5%;
	background-color: black;
	z-index: 1000000000;
	margin-bottom: 100em;
	transition: 1s;
	will-change: transform;
}

.card-avatar-pic {
	display: block;
	top: 2em;
	left: 50%;
	margin-left: -35px;
	border: 3px solid #000;
	border-radius: 50%;
    width: 4.6875em;
    height: 4.6875em;
    transform: scale(3.5);
    cursor: pointer;
    transition: 1s;
    will-change: transform;
}

.card-nickname {
	position: fixed;
	font-size: 3em;
	margin-top: 3em;
	text-align: center;
}
/*
.close-card-x {
	position: relative;
	top: -21em;
	right: -34em;
	z-index: 1000000001;
	height: 60px;
}

.close-card-x::after {
	color: red;
	font-size: 7em;
	content: '\2718';
	z-index: 1000000001;
	cursor: pointer;
	padding: none;
}*/

/***********************************
************* Search ***************
***********************************/
.search {
	position: absolute;
	top: 10.5em;
	right: 6.6em;
    width: 13em;
    height: 2.1875em;
    font-size: 1.2em;
    border: none;
    padding-left: 6em;
    padding-right: 20px;
    background-color: black;
    color: #fff;
    z-index: 1;
    border: 3px solid rgba(11,66,26,1);
    color: green;
}

.mag-glass {
	position: absolute;
	top: 9.3em;
	right: 15.3em;
	text-decoration: none;
	z-index: 100; 
	font-size: 1.4em;
}
/***********************************
****** Header media queries ********
***********************************/

@media screen and (max-width: 1470px) {
	.title {
		transform: scale(1.2);
		height: 5em;
		margin-left: 5em;
		margin-bottom: 4em; 
	}
	.logo {
		margin: 2em 1em;
		padding: 0;
	}
}

@media screen and (max-width: 1350px) {
	.title {
		transform: scale(1);
		height: 5em;
		margin-left: 1em; 
	}
	.logo {
		transform: scale(0.8);
	}
	.search {
		width: 11em;
	}
	.mag-glass {
		right: 19.5em;
	}
}

@media screen and (max-width: 1180px) {
	.title {
		position: absolute;
		left: 10em;
		top: 6em;
		transform: scale(0.8);
	}
	.logo {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 1048px) {
	.title {
		position: absolute;
		left: 5em;
		top: 6em;
		transform: scale(0.8);
	}
	.logo {
		min-width: 120px;
	    max-width: 120px;
	    height: 7em;
	    margin-top: 4em;
	    margin-bottom: 3em;
	}
}

@media screen and (max-width: 918px) {
	header {
		padding-bottom: 0.1em;
	}
	.logo {
		display: block;
		margin: 0 auto;
		padding-bottom: 10em;
		padding-top: 1em;
	}
	.title {
		position: absolute;
		display: block;
		margin: 1.5em auto;
		padding-top: 3em;
		right: 0;
		left: 0;
	}
	.search {
	display: none;
	}
	.mag-glass {
		position: absolute;
		top: 4.9em;
		right: 1em;
		font-size: 3em;
		transform: rotate(270deg);
		border: 2px solid black;
		background-color: rgba(11,66,26,1);
	}
	.sign-up {
		right: 5.25em;
	}
	.log-in {
		right: 2em;
		margin-right: 0;
	}
	.avatar-nest {
		position: absolute;
		height: 4.5em;
		width: 7em;
		background-color: #404040;
		right: 2.5em;
		top: 4em;
	}
	.menu-text {
		display: none;
	}
}

@media screen and (max-width: 572px) {
	.title {
		width: 90%;
	}
	.avatar-nest {
		display: none;
	}
}

/***********************************
************ nav bar ***************
***********************************/

ul, ul.top-nav {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul.top-nav {
	display: flex;
	justify-content: center;
	
}

ul li.top-nav-items {
	display: flex;
	color: #fff;
	font-size: 1.8em;
	padding: 0.7em 3.5em;
	background-color: rgba(11,66,26,1);
	border: 2px solid black;
	cursor: pointer;
}

ul li.top-nav-items:hover {
	color: green;
}

/***********************************
****** navbar media queries ********
***********************************/

@media screen and (max-width: 1352px){
	ul li.top-nav-items {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 1061px){
	ul li.top-nav-items {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 918px){
	ul li.top-nav-items {
		font-size: 1em;
	}
}

@media screen and (max-width: 918px){
	ul.top-nav {
		display: block;
	}
	ul li.top-nav-items {
		display: block;
		font-size: 0.8em;
		width:50%;
		margin: 0.5em auto;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		text-align: center;
		font-size: 1em;
	}
}

/***********************************
******** Top advertisement *********
***********************************/

.top-ad-temp {
	display: block;
	clear:both;
	margin: 1em auto;
	background-color: #fff;
	width: 70%;
	text-align: center;
	line-height: 6.5em;
	cursor: pointer;
}

/***********************************
************ caroselle *************
***********************************/

.full-box {
  width: 90%;
  height: 45em;
  z-index: -1000;
  margin: 0 auto;
  background-image: url(../img/space-carousel-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: center;
  padding-bottom: 48em;
}

.whats-hot {
	font-size: 5em;
	text-align: center;
	margin:0;
	padding: 0;
    color: #d91414;
}

.container {
  padding-top: 7em;
  margin: 0 auto;
  width: 17em;
  height: 5em;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.item {
  right:0;
  left: 0;
  display: block;
  position: absolute;
  background: #000;
  width: 3.4em;
  height: 2.5em;
  line-height: 40px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 2;
  border-radius: 10px;
  transform-style: preserve-3d; 
  cursor: pointer;
  will-change: transform;
  -webkit-backface-visibility: hidden;
}

._1 {
  transform: rotateY(0deg) translateZ(500px);
  background: url(../img/new-new-pacman.jpg);
}

._2 {
  transform: rotateY(36deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._3 {
  transform: rotateY(72deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._4 {
  transform: rotateY(108deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._5 {
  transform: rotateY(144deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
} 

._6 {
  transform: rotateY(180deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._7 {
  transform: rotateY(216deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._8 {
  transform: rotateY(252deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._9 {
  transform: rotateY(288deg) translateZ(500px);
  background: url(../img/new-cards.jpg);
}

._10 {
  transform: rotateY(324deg) translateZ(500px);
  background: url(../img/new-nebula.jpg);
}

.no-1, .no-2, .no-3, .no-4, .no-5, .no-6, .no-7, .no-8, .no-9, .no-10 { 
	position: relative; cursor: default; -webkit-text-stroke: 2px black;
 }

.item::after  {
	content: '';
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    -webkit-transform: rotateY( 180deg );
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    cursor: default;
}

.prev, .next {
  color: rgba(11,66,26,1); 
  margin-top: 33em;
  color: #444;
  position: absolute;
  padding: 1.5em 2.5em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  z-index: 2;
}

.prev{
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  margin-left: -107.5px;
  left: 50%;
  margin-left: -108px;
}

.next {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin-right: -107.5px;
  right: 50%;
}

.next:active { transform: translate(20px); background-color: rgba(11,66,26,1); color: #fff;}

.prev:active { transform: translate(-20px); background-color: rgba(11,66,26,1); color: #fff;}

#top-current-number {
	width: 70px;
	position: absolute;
	left: 47.5%;
	padding-top: 22.2em;
	margin-left: 1px;
	text-align: center;
  	margin-top: 14.2em;
  	font-size: 0.9em;
  	color: #fff;
  	z-index: 1;
}

/***********************************
************* side ads *************
***********************************/

.ads-temp-left, .ads-temp-right{
	display: inline-block;
	height: 40em;
	width: 12em;
	background-color: #fff;
	padding-top: 1.25em;
	margin-top: 50em;
	margin-bottom: 1.25em;
	text-align: center;
	cursor: pointer;
	position: absolute;
}

.ads-temp-left {
	left: 0%;
}

.ads-temp-right {
	right: 0%;
}

.vertical-text-left {
	transform: rotate(270deg);
	margin-top: 360px;

}

.vertical-text-right {
	transform: rotate(90deg);
	margin-top: 240px;
}

/***********************************
************* content **************
***********************************/
.flex-games {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 9em;
}

.front-page-games {
	display: flex;
	margin: 1em;
	height: 20em;
	width: 20em;
	border-radius: 10px;
	background-color: gray;
}

.games-nav {
	margin-top: -9em;
}

.prev1, .next1 {
  color: rgba(11,66,26,1); 
  margin-top: 33em;
  color: #444;
  position: absolute;
  padding: 1.5em 2.5em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
}

.prev1{
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  margin-left: -107.5px;
  left: 50%;
  margin-left: -108px;
}

.next1 {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin-right: -107.5px;
  right: 50%;
}

.next1:active { transform: translate(20px); background-color: rgba(11,66,26,1); color: #fff;}

.prev1:active { transform: translate(-20px); background-color: rgba(11,66,26,1); color: #fff;}

.games-number {
	width: 100px;
	position: absolute;
	left: 47.3%;
	padding-top: 22.2em;
	margin-left: -11px;
	text-align: center;
  	margin-top: 14.2em;
  	font-size: 0.9em;
  	color: #fff;
}

/***********************************
************* footer ***************
***********************************/

.footer-social-media {
	margin-left: 4em;
	color: white;
}

.footer-col-1 {
	float: left;
}

.footer-nav {
	display: inline-block;
	margin-left: 15em;
	color: white;
}

.footer-nav-items {
	display: inline-block;
	margin-left: 2em;
}

.footer-nav-items h1 {
	margin: 1em 2em 0 0 ;
	border: 2px solid black;
	padding: 0;
	background-color: rgba(11,66,26,1);
	cursor: pointer;
}

.footer-description {
	margin: 3em;
	margin-left: 19em;
	padding-left: 10em;
	width: 45%;
	text-align: center
}

.legal-bits {
	padding-bottom: 0.5em;
	margin-right: 14em;
	text-align: center;
}