.favorites{
	#buddypress {

		.favourite__categories-grid--container {
			background-color: $color__primary--background;
		}

		.favourite__categories-grid--games-container {
			display: flex;
		}

		.favourite__categories-grid--header-li {
	    border: 1px solid black;
	    width: 100%;
	    margin: 0;
	    background-color: black;

	    form {
	    	margin: 0;

	    	.favourite__submit-remove--input {
	    		display: block;
	    		background-color: transparent;
	    		border: 0;
	    		font-size: 1rem;
	    		color: $color__cancel--button;
	    		margin: 0 auto;

	    		&:hover {
	    			background-color: transparent;
		    		border: 0;
		    		color: lighten( $color__cancel--button, 15% );
	    		}
	    	}
	    }
		}

		.favourite__single-game--single-container {
			margin: 30px 0;
		}

	.favorite-categories__table {
		margin: 30px auto;
	}		 

	}
}

