/////////////////////////////////////
/////////////Burger menu/////////////
/////////////////////////////////////
.header__burger-menu--container {
	position: fixed;
	top: 2px;
	right: 0;
	display: inline;
  cursor: pointer;
  margin-right: 5px;
	z-index: 101;
}

.header__burger-menu--bar-1,  .header__burger-menu--bar-2, .header__burger-menu--bar-3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 101;
  border: 1px solid $color__primary--background;
}

 .header__burger-menu--bar-2 {
 	transition: 0.2s;
 }

.header__burger-menu--change .header__burger-menu--bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: $color__cancel--button;
  border-color: $color__cancel--button;
  z-index: 101;
}

.header__burger-menu--change .header__burger-menu--bar-2 {
  opacity: 0;
}

.header__burger-menu--change .header__burger-menu--bar-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
  background-color: $color__cancel--button;
  border-color: $color__cancel--button;
  z-index: 101;
}

/////////////////////////////////////
///////////////nav menu//////////////
/////////////////////////////////////
.header__home--container {
	position: fixed;
	top: 0;
	left: 10px;
	z-index: 1000000000;
	transform: translateY(-8em);
	transition: .4s;
	height: 40px;
  line-height: 70px;

	& a:hover {color: darken($color__continue--button, 10%);}
	& a {
		color: black;

		.header__home--text{
			padding: 0;
			margin: 0;
			height: 40px;
			width: 30px;
    	line-height: 70px;
    	background: url("../svgs/login-icon.svg") no-repeat top center;
			background-size: 25px 25px;
		}

	}
}

.menu-primary-container,
.menu-logged-in-container,
.menu-logged-out-container{
	display: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color__background--primary-menu;
	height: 45px;
	transform: translateY(-8em);
	transition: .4s;
	z-index: 100;

	.nav-bar__primary--list,
	.menu {
		padding-right: 50px;
		float: right;
		margin: 2.5px 0;

		.menu-item {
			height: 40px;
    	line-height: 70px;

    	& a {
    		display: block;
    		height: 40px;
    		width: 30px;
    		text-align: center;
    	}
		}

		.bp-register-nav {
			& a{
				background: url("../svgs/signup-icon.svg") no-repeat top center;
				background-size: 25px 25px;
			}
		}

		.nav-bar__primary--login {
			& a{
				background: url("../svgs/login-icon.svg") no-repeat top center;
				background-size: 25px 25px;
			}
		}
		.nav-bar__primary--search {
			& a{
				background: url("../svgs/search-icon.svg") no-repeat top center;
				background-size: 25px 25px;
			}
		}


		.menu-item {
			display: inline-block;

			& a {
				color: black;
				width: 30px;
			}

			& a:hover {
				color: green;
			}

		}

	}

.nav-bar__primary--search-color {
	a {
		color: darken($color__continue--button, 10%);
	}
}


}
.display-block {
	transition: .4s;
	-ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/////////////////////////////////////
/////////////Search Menu/////////////
/////////////////////////////////////

.header__searchbar--container.display-block2 {
	transition: .4s;
	-ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header__searchbar--container {
	position: fixed;
	top: 45px;
	right: 33px;
	background-color: $color__background--primary-menu;
	width: 59.40625rem;
	border: 1px solid black;
	z-index: 99;
	transform: translateY(-12em);
	transition: .4s;
}
.header__searchbar--inner-container {
	height: 4.4em;
	margin: 1em;
	z-index: 1000;
}
.header__button--search-bar {
	float: left;
	margin: 0;
	height: 70px; 
	width: 10%;
	z-index: 1000;
	background-size: 50px 50px;
	border-radius: 0;
}
.header__searchbar--search-input {
	-webkit-appearance: none;
	height: 100%;
	float: left;
	width: 65%;
	font-size: 1.5rem;
	padding-right: 38px;
}
.header__searchbar--clear {
	position: absolute;
	top: 20px;
	right: 255px;
	background: $color__background--input url("../svgs/search-bar-x.svg") no-repeat center right;
	background-size: 50px 50px;
	height: 60px;
	width: 50px;
	z-index: 10000;
	cursor: pointer;
}

.display-none {
	display: none;
}

.header__searchbar--dropdown {
	width: 24%;
	height: 70px;
	float: left;
	border: 1px solid black;
	background-color: $color__continue--button;
}

.header__searchbar--dropdown::after {
	content: url("../svgs/select-arrow.svg");
	position: relative;
	right: 0px;
	top: 10px;
	transition-property: transform;
  transition-duration: 1s;
} 

.header__searchbar--dropdown-text {
	display: inline-block;
	width: 70%;
	margin: 0;
	margin-top: 15px;
	padding-left: 7px;
}

@media screen and ( min-width: 805px ) {
	.header__home--container,
	.menu-primary-container,
	.menu-logged-in-container,
	.menu-logged-out-container {
		height: 5em;
		transform: translateY(0);
	}

	.header__burger-menu--container {
		display: none;
	}

}

@media screen and ( max-width: 1013px ) {
	.header__searchbar--dropdown {
		display: none;
	}
	.header__searchbar--search-input {
		width: 90%;
	}
	.header__searchbar--container {
		width: 100%;
		right: 0px;
	}
	.header__searchbar--clear {
		left: 90%;
	}
}

@media screen and ( max-width: 805px ) {
	.header__button--search-bar {
		height: 45px; 
		width: 45px;
		background-size: 30px 30px;
	}
	.header__searchbar--clear {
		position: absolute;
		right: 30px;
		top: 18px;
		background-size: 30px 30px;
		height: 30px;
		width: 30px;
	}
	.header__searchbar--container {
		transform: translateY(-15em);
	}
	.header__searchbar--container.display-block2 {
	  -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
  	transform: translateY(2px);
	}
	.header__searchbar--search-input {
		padding-right: 20px;
	}
	.header__searchbar--search-input {
		font-size: 1rem;
	}
}

@media screen and ( max-width: 470px ) {
	.header__searchbar--search-input {
		width: 80%;
	}
	.header__searchbar--clear {
		left: 80%;
	}
}
