@mixin menu-item-position ($pos, $top, $filename) {
	position: $pos;
	top: $top;
	content: url("../svgs/#{$filename}.svg");
}
@mixin nav-bar-menu-list ($width) {
		position: absolute;
		top: -10px;
		width: $width;
	}
/////////////////////////////////////
/////////////Burger menu/////////////
/////////////////////////////////////

.header__burger-menu--container {
	position: fixed;
	top: 0;
	right: 0;
	display: inline;
  cursor: pointer;
  margin-right: 5px;
	z-index: 101;
}

.header__burger-menu--bar-1,  .header__burger-menu--bar-2, .header__burger-menu--bar-3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 101;
  border: 1px solid $color__primary--background;
}

 .header__burger-menu--bar-2 {
 	transition: 0.2s;
 }

.header__burger-menu--change .header__burger-menu--bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: $color__cancel--button;
  border-color: $color__cancel--button;
  z-index: 101;
}

.header__burger-menu--change .header__burger-menu--bar-2 {
  opacity: 0;
}

.header__burger-menu--change .header__burger-menu--bar-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
  background-color: $color__cancel--button;
  border-color: $color__cancel--button;
  z-index: 101;
}

/////////////////////////////////////
///////////////nav menu//////////////
/////////////////////////////////////

.menu-primary-container {
	display: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color__background--primary-menu;
	height: 8em;
	transform: translateY(-8em);

	transition: .4s;
	z-index: 100;
	.nav-bar__primary--list {
		position: absolute;
		right:10px;
		top: 65px;
		width: 100%;
		a {
			color: $color__Black--pure;
		}
	}

.nav-bar__primary--search-color {
	a {
		color: darken($color__continue--button, 10);
	}
}
	.nav-bar__primary--home {
		@include nav-bar-menu-list(10px);
		left: 30px;
	}
	.nav-bar__primary--login {
		@include nav-bar-menu-list(60px);
		right: 95px;
		height: 0;
	}
	.nav-bar__primary--signup {
		@include nav-bar-menu-list(60px);
		right: 160px;
		height: 0;
	}
	.nav-bar__primary--search {
		@include nav-bar-menu-list(10px);
		right: 90px;
		    height: 0;
	}

	.nav-bar__primary--home:hover,
	.nav-bar__primary--login:hover,
	.nav-bar__primary--signup:hover,
	.nav-bar__primary--search:hover {
		cursor: pointer;
		& a {
			color: $color__continue--button;
		}
	}
	.nav-bar__primary--home::after {
		@include menu-item-position(relative, -75px, logo-icon);
		left: -5px;
	}
	.nav-bar__primary--login::after {
		@include menu-item-position(relative, -67px, login-icon);
		right: 13px;
	}
	.nav-bar__primary--signup::after {
		@include menu-item-position(relative, -67px, signup-icon);
		right: 10px;
	}
	.nav-bar__primary--search::after {
		@include menu-item-position(relative, -65px, search-icon);
		right: 0px;
	}
}
.display-block {
	transition: .4s;
	-ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/////////////////////////////////////
/////////////Search Menu/////////////
/////////////////////////////////////

.header__searchbar--container.display-block2 {
	transition: .4s;
	-ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header__searchbar--container {
	position: fixed;
	top: 80px;
	right: 33px;
	background-color: $color__background--primary-menu;
	width: 59.40625rem;
	border: 1px solid black;
	z-index: 99;
	transform: translateY(-12em);
	transition: .4s;
}
.header__searchbar--inner-container {
	height: 4.4em;
	margin: 1em;
	z-index: 1000;
}
.header__button--search-bar {
	float: left;
	margin: 0;
	height: 70px; 
	width: 70px;
	z-index: 1000;
	background-size: 50px 50px;
	border-radius: 0;
}
.header__searchbar--search-input {
	-webkit-appearance: none;
	height: 100%;
	float: left;
	width: 38.4873125rem;
	font-size: 1.5rem;
	padding-right: 38px;
}
.header__searchbar--clear {
	position: absolute;
	top: 20px;
	right: 255px;
	background: $color__background--input url("../svgs/search-bar-x.svg") no-repeat center right;
	background-size: 50px 50px;
	height: 60px;
	width: 50px;
	z-index: 10000;
	cursor: pointer;
}
.header__searchbar--select {
	height: 100%;
	float: left;
	margin: 0;
	width: 12rem;
	padding-top: 0.5em;
	font-size: 1.4rem;
	cursor: pointer;
	z-index: 1000;
	background-color: $color__continue--button;
	border: 1px solid black;
}
.header__searchbar--select-text {
	float: left;
	padding-left: 10px;
	padding-top: 8px;
	z-index: 1000;
}
.display-none {
	display: none;
}

@media screen and ( min-width: 805px ) {
	.menu-primary-container {
		height: 5em;
		transform: translateY(0);
	}
	.header__burger-menu--container {
		display: none;
	}
	.menu-primary-container .nav-bar__primary--home,
	.menu-primary-container .nav-bar__primary--login,
	.menu-primary-container .nav-bar__primary--signup,
	.menu-primary-container .nav-bar__primary--search {
		top: -22px;
		margin-right: 10px;
	}
	.menu-primary-container .nav-bar__primary--login {
		right: 90px;
	}
	.menu-primary-container .nav-bar__primary--signup {
		right: 165px;
	}
	.menu-primary-container .nav-bar__primary--search {
		right: 80px;
	}
	.menu-primary-container .nav-bar__primary--login::after {
		right: 10px;
	}
	.menu-primary-container .nav-bar__primary--signup::after {
		right: 0px;
	}
	.menu-primary-container .nav-bar__primary--search::after {
		right: 0px;
	}
	.menu-primary-container .nav-bar__primary--home::after,
	.menu-primary-container .nav-bar__primary--login::after,
	.menu-primary-container .nav-bar__primary--signup::after {
		top: -75px;

	}
	.menu-primary-container .nav-bar__primary--home::after,
	.menu-primary-container .nav-bar__primary--login::after,
	.menu-primary-container .nav-bar__primary--signup::after {
		top: -75px;
	}
	.menu-primary-container .nav-bar__primary--search::after {
		top: -75px;
	}
}

@media screen and ( max-width: 1013px ) {
	.header__searchbar--select {
		display: none;
	}
	.header__searchbar--search-input {
		width: 90%;
	}
	.header__searchbar--container {
		width: 100%;
		right: 0px;
	}
	.header__searchbar--clear {
		left: 90%;
	}
}

@media screen and ( max-width: 805px ) {
	.header__button--search-bar {
		height: 45px; 
		width: 45px;
		background-size: 30px 30px;
	}
	.header__searchbar--clear {
		position: absolute;
		right: 30px;
		top: 18px;
		background-size: 30px 30px;
		height: 30px;
		width: 30px;
	}
	.header__searchbar--container {
		transform: translateY(-15em);
	}
	.header__searchbar--container.display-block2 {
	  -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
  	transform: translateY(2px);
	}
	.header__searchbar--search-input {
		padding-right: 20px;
	}
	.header__searchbar--search-input {
		font-size: 1rem;
	}
}

@media screen and ( max-width: 470px ) {
	.header__searchbar--search-input {
		width: 80%;
	}
	.header__searchbar--clear {
		left: 80%;
	}
}
