/***********************************
******** Top advertisement *********
***********************************/

.top-ad-temp {
	display: block;
	clear:both;
	margin: 1em auto;
	background-color: #fff;
	width: 70%;
	text-align: center;
	line-height: 6.5em;
	cursor: pointer;
	font-size: 0.8em;
}

/***********************************
************* side ads *************
***********************************/

.ads-temp-left, .ads-temp-right{
	height: 40em;
	width: 10%;
	background-color: #fff;
	padding-top: 1.25em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: center;
	cursor: pointer;
	position: absolute;
	will-change: transform;
	top: 86em;
}

.ads-temp-left {
	left: 0%;
}

.ads-temp-right {
	right: 0%;
}

.vertical-text-left {
	transform: rotate(270deg);
	margin-top: 360px;

}

.vertical-text-right {
	transform: rotate(90deg);
	margin-top: 240px;
}
