.flex-games {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 9em;
}

.front-page-games {
	display: flex;
	margin: 1em;
	height: 20em;
	width: 20em;
	border-radius: 10px;
	background-color: gray;
}

.games-nav {
	margin-top: -9em;
}

.prev1, .next1 {
  color: rgba(11,66,26,1); 
  margin-top: 33em;
  color: #444;
  position: absolute;
  padding: 1.5em 2.5em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
}

.prev1{
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  margin-left: -107.5px;
  left: 50%;
  margin-left: -108px;
}

.next1 {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin-right: -107.5px;
  z-index: 3;
  right: 50%;
}

.next1:active { transform: translate(20px); background-color: rgba(11,66,26,1); color: #fff;}

.prev1:active { transform: translate(-20px); background-color: rgba(11,66,26,1); color: #fff;}

.games-number {
	width: 100px;
  height: 100px;
	position: absolute;
	right: 50%;
  text-align: center;
  margin-right: -50px;
	padding-top: 22.2em;
  margin-top: 14.2em;
	font-size: 0.9em;
 	color: #fff;
  z-index: -1001;
}

.hot-games {
  text-align: center;
  font-size: 5em;
  color: red;
}
.hot-games::after {
  content: "\01F525"
}
.hot-games::before {
  content: "\01F525";
}










