.flex-games {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 2em;
}

.front-page-games {
	display: flex;
	margin: 1em;
	height: 20em;
	width: 20em;
	border-radius: 10px;
	background-color: gray;
}

.games-nav {
  height: 100px;
}

.prev1, .next1 {
  color: rgba(11,66,26,1); 
  color: #444;
  position: absolute;
  padding: 1.5em 2.5em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  z-index: 1;
}

.prev1{
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  margin-left: -107.5px;
  left: 50%;
  margin-left: -108px;
}

.next1 {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin-right: -107.5px;
  z-index: 3;
  right: 50%;
}

.next1:active { transform: translate(20px); background-color: rgba(11,66,26,1); color: #fff;}

.prev1:active { transform: translate(-20px); background-color: rgba(11,66,26,1); color: #fff;}

.games-number {
	position: relative;
  text-align: center;
	font-size: 0.9em;
  top: 1em;
 	color: #fff;
  z-index: 0;
  cursor: default;
}

.hot-games {
  text-align: center;
  font-size: 5em;
  color: red;
}
.hot-games::after {
  content: "\01F525"
}
.hot-games::before {
  content: "\01F525";
}
























.dodec {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateY(0px) translateZ(0px) translateX(0px) scale(0.8);
}
.poly, .poly *, .poly *:before {
  /**/
  overflow: hidden; /**/
  position: absolute;
  top: 50%; left: 50%;
  margin: -10em;
  /**
  outline: solid 1px blue; /**/
  width: 20em; height: 20em;
}
.poly {
  transform: skewX(18deg) scaleY(.95);
}
.poly * {
  /**
  outline: solid 1px; /**/
  transform: scaleY(1.05) skewX(-18deg)
    rotate(144deg) 
    skewX(18deg) scaleY(.95);
}
.poly-i2 {
  color: red;
  cursor: pointer;  
}

.poly-i2:before {
  transform: scaleY(1.05) skewX(-18deg);
  /**/
  background-color: green;
  content: '';
}

.panel1 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(121px) translateY(0px) translateX(93px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel2 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(36deg) rotateX(0deg) rotateZ(0deg) translateZ(175px) translateY(0px) translateX(77px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel3 {
  position: absolute;
  height: 100px;
  width: 75px;
  background-color: black;
  transform: rotateY(72deg) rotateX(0deg) rotateZ(0deg) translateZ(213px) translateY(0px) translateX(30px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel4 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(108deg) rotateX(0deg) rotateZ(0deg) translateZ(210px) translateY(0px) translateX(-30px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel5 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(140deg) rotateX(0deg) rotateZ(0deg) translateZ(180px) translateY(0px) translateX(-65px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel6 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(-120px) translateY(0px) translateX(95px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel7 {
  position: absolute;
  height: 100px;
  width: 77px;
  background-color: black;
  transform: rotateY(36deg) rotateX(0deg) rotateZ(0deg) translateZ(-63px) translateY(0px) translateX(80px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel8 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(70deg) rotateX(0deg) rotateZ(0deg) translateZ(-30px) translateY(0px) translateX(30px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel9 {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: black;
  transform: rotateY(108deg) rotateX(0deg) rotateZ(0deg) translateZ(-29px) translateY(0px) translateX(-28px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}
.panel10 {
  position: absolute;
  height: 100px;
  width: 77px;
  background-color: black;
  transform: rotateY(142deg) rotateX(0deg) rotateZ(0deg) translateZ(-62px) translateY(0px) translateX(-79px);
  z-index: 100000;
  transform-style: preserve-3d;
  will-change: trasform;
}




