.footer__information, .footer__image--full {
	width: 100%;
	margin: 0 auto;
}
.footer__image--full {
	transform: scale(0.5);
}
.footer__information .footer__image--full::after, #footer-menu, .footer__social-icons, .footer__social-icons--facebook::before, .footer__social-icons--twitter::before {
	position: relative;
}
.footer__information .footer__image--full::after {
	left: 50%;
	margin-left: -210px;
	content: url("../svgs/full-logo-img.png");
}
.footer__copyright-info, #footer-menu {
	text-align: center;
}
#footer-menu {
	top: -40px;
	margin-right: 0;
	padding: 0px;
	& > li {
		display: inline-block;
		margin: 0 3px;
	}
}
.footer__social-icons {
	@include clearfix;
	width: 60%;
	top: -40px;
	margin: 0 auto;
}
.footer__social-icons--center {
	@include clearfix;
	margin: 0 auto;
	margin-top: 25px;
}
	
.footer__social-icons--facebook {
	@include footer__social-icons(12px, 10px, icon-facebook);
}
.footer__social-icons--twitter {
	@include footer__social-icons(12px, 10px, icon-twitter);
}
.footer__social-icons--google {
	@include footer__social-icons(12px, 10px, icon-google);
}
.footer__social-icons--youtube {
	@include footer__social-icons(12px, 10px, icon-youtube);
}
.footer__social-icons--snapchat {
	@include footer__social-icons(10px, 10px, icon-snapchat);
}

.footer__copyright-info {
	@include clearfix;
	display: block;
	margin-bottom: 10px;
}

@media screen and ( min-width: 880px ) {
	.footer__information {
		width: 50%;
		margin: 0 auto;
	}
	.footer__image--full {
		transform: scale(0.6);
	}
	#footer-menu, .footer__social-icons {
		top: -30px;
	}
	.footer__left-image, .footer__right-image  {
		width: 25%;
	height: 1px;
	}
	.footer__right-image::after {
		@include footer-images(relative, -150px, block, sonic-img, 0.7);
		left: 50%;
	}
	.footer__left-image::before {
		@include footer-images(relative, -150px, block, mario-img, 0.7);
		right: 40%;
	}
	.footer__information, .footer__right-image, .footer__left-image {
		float: left;
	}
	
}

@media screen and (min-width: 1124px) {
	.footer__image--full, .footer__right-image::after, .footer__left-image::before {
		transform: scale(0.8);
	}
	.footer__right-image::after, .footer__left-image::before {
		top: -130px;
	}
	.footer__right-image::after {
		left: 60%;
	}
	.footer__left-image::before {
		right: 20%;
	}
	#footer-menu {
		position: relative;
		top: -20px;
		text-align: center;
		margin-right: 0;
		padding: 0;
		& > li {
			display: inline-block;
			margin: 0 1em;
		}
		& > a {
			font-size: 1em;
		}
	}

	.footer__social-icons--center * {
		height:50px;
		width:50px;
	}
}

@media screen and (min-width: 1444px) {
	.footer__image--full {
		transform: scale(0.9);
	}
	.footer__right-image::after, .footer__left-image::before {
		top: -120px;
		transform: scale(0.9);
	}
	.footer__right-image::before {
		left: 70%;
	}
	#footer-menu {
		& > li {
			margin: 0 2em;
		}
	}
}

@media screen and (min-width: 1920px) {
	.footer__image--full {
		transform: scale(1);
		margin-top: 10px;
	}
	.footer__right-image::after {
		top: -130px;
		transform: scale(1);
		left: 80%;
	}
	.footer__left-image::before {
		top: -130px;
		transform: scale(1);
	}
	#footer-menu {
		top: -10px;
		padding: 10px;
		& > a {
			font-size: 1.2em;
		}
	}
}


