.menu-primary-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(250, 250, 250, 0.66);
	height: 5em;
	z-index: 100;
	ul {
		position: relative;
		display: inline;
		top: 16px;
		a {
			color: black;
		}
		li {
			display: inline;
			margin-right: -15px;
			float: right;
			margin-top: 18px;
		}
		li:first-of-type {
			position: absolute;
			float: left;
			top: -25px;
			left: 30px;
		}
		li:nth-of-type(4) {
			margin-top: 22px;
		}
}


li:first-of-type::after   {
	position: relative;
	top: -10px;
	left: -45px;
	content: url("../svgs/logo-icon.svg");
}
li:nth-of-type(2)::after {
	position: relative;
	top: -14px;
	left: -48px;
	content: url("../svgs/login-icon.svg");
}
li:nth-of-type(3)::after {
	position: relative;
	top: -14px;
	left: -50px;
	content: url("../svgs/signup-icon.svg");
}
li:nth-of-type(4)::after {
	position: relative;
	top: -14px;
	left: -50px;
	content: url("../svgs/search-icon.svg");
}
}