@mixin menu-item-position ($pos, $top, $left, $filename) {
	position: $pos;
	top: $top;
	left: $left;
	content: url("../svgs/#{$filename}.svg");
}

.menu-primary-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color__background--primary-menu;
	height: 5em;
	z-index: 100;
	ul {
		position: relative;
		display: inline;
		top: 16px;
		a {
			color: $color__Black--pure;
		}
		li {
			display: inline;
			margin-right: -15px;
			float: right;
			margin-top: 18px;
		}
		li:first-of-type {
			position: absolute;
			float: left;
			top: -25px;
			left: 30px;
		}
		li:nth-of-type(4) {
			margin-top: 22px;
		}
		li:first-of-type::after {
			@include menu-item-position(relative, -10px, -45px, logo-icon);
		}
		// possible for loop?
		li:nth-of-type(2)::after {
			@include menu-item-position(relative, -14px, -50px, login-icon);
		}
		li:nth-of-type(3)::after {
			@include menu-item-position(relative, -14px, -50px, signup-icon);
		}
		li:nth-of-type(4)::after {
			@include menu-item-position(relative, -14px, -50px, search-icon);
		}
	}
}