////////////////////////////
//// full category list ////
////////////////////////////
.category__content--wrapper {

	.categories__sub-header {
		max-width: 50%;
		font-size: 4rem;
		margin: 0 auto;
		text-align: center;
	}

	.category__list--wrapper {
		min-width: 50%;
		padding: 5% 10%;
		margin-bottom: 3rem;

		.category__list--titles {
			display: block;
			padding: 0;
			margin: 0;
			margin-bottom: 1rem;
			text-align: left;
			font-size: 4rem;
		}

		.category__list--links {

			.category__list--items {
				margin-left: 2rem;
				font-size: 2.5rem;
				list-style: none;
			}
		
		}

	}

}

.page__wrapper {

	.category__wrapper--game {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;

		.category__container--game {
			display: flex;
			border: 1px solid black;
	    background-color: darkslategray;
	    width: 100%;

    	& article {
				margin: 0;
				
				.category__container--title {
					@include font__roboto;
					font-size: 2rem;
					padding: 0;
				}

				img {
					margin: 0 auto;
					height: 10rem;
					width: 10rem;
				}

				p {
					width: 100%;
					padding: 1rem;
					font-size: 1rem;
				}

			}
		}
	}
}

.page__wrapper{
	.game-page__wrapper {

		& h2 {
			text-align: center;
		}
		.category__wrapper--game {

			.category__container--game {
				width: 100%;

				& article {
					width: 100%;
				}

			}
		}
	}
}

@media screen and ( min-width: 510px ) {

	.page__wrapper {
		.category__wrapper--game {
			.category__container--game {
				width: 50%;
				float: left;
			}
		}
	}
}

@media screen and ( min-width: 806px ) {

	.page__wrapper {
		.category__wrapper--game {
			.category__container--game {
				width: 33%;
				float: left;
			}
		}
	}

	.page__wrapper{
		.game-page__wrapper {
			.category__wrapper--game {
				margin-bottom: 5rem;

				.category__container--game {
					width: 33%;
				}

			}
		}
	}
}

@media screen and ( min-width: 1250px ) {

	.page__wrapper {
		.category__wrapper--game {
			.category__container--game {
				width: 25%;
				float: left;
			}
		}
	}
}

@media screen and ( min-width: 1500px ) {

	.page__wrapper {
		.category__wrapper--game {
			.category__container--game {
				width: 20%;
				float: left;
			}
		}
	}
}

/////////////////////////
//// game pagination ////
/////////////////////////
.pagination-container {
	width: 100%;
}

.pagination-wrapper {
	display: table;
	margin: 2rem auto;
	text-align: center;
	position: relative;
	width: 50%;

	&::after {
		@include clearfix;
	}

	.page-numbers {
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.current {
		font-size: 2.2rem;
	}

	.prev, .next {
		position: relative;
		top: 0.8rem;
		font-size: 6rem;
	}

	.next {
		margin-right: -110px;
	}

	.prev {
		margin-left: -110px;
	}
}



///test 
.game-rpg {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
	margin: 10px;
}