.bp_members {

	.entry-title {
		display: none;
	}

	.entry-content{
		padding: 0 1rem;

		#buddypress div.item-list-tabs#subnav ul li.last {
			display: none;
		}

		#buddypress {

			#item-header{
				height: 225px;

				#cover-image-container {
					margin-top: 60px;

					#item-header-cover-image {

						#item-header-avatar{
							width: 100px;
    					margin-top: 110px;

							a {
							  display: inline-block;
						    height: 100px;
						    width: 100px;

								img {
									width: 100px;
    							height: 100px;
								}

							}
						}

						#item-header-content {
							margin: 0;
					    position: absolute;
					    width: 122px;
					    left: 110px;
					    top: 170px;
					    text-align: center;

					    .user-nicename {
					    	font-size: 2rem;
					    	margin-bottom: 0;
					    	color: lighten( $color__primary--background, 60% );
					    	font-weight: 400;
					    }

					    .item-buttons {
					    	position: absolute;
					    }

					    #item-meta {
					    	display: none;
					    }
						}

					}
				}
			}

			#item-nav {
				z-index: 10;
				.item-list-tabs {
					z-index: 10;

					#notifications-personal-li {
						display: none;
					}

					ul {
						z-index: 10;
						li {
							z-index: 10;
							padding-top: 1rem;

							a {
								z-index: 10;
								padding: 5px 8px;
								position: relative;

								span {
									display: none;
								}
							}

						}
					}
				}
			}

			#item-body {
				.profile {
					.standard-form {
						.editfield {
							fieldset {

								.field-visibility-settings-notoggle,
								.field-visibility-settings-toggle {
									display: none;
								}

								legend {
									display: inline-block;
									width: 40%;
									margin: 0;
									float: left;
									text-align: right;

									.bp-required-field-label {
										display: none;
									}

								}

								textarea {
									width: 100%;
							    padding: 0px;
							    margin: 0px;
							    height: 152px;
								}

								textarea,
								input {
									margin-left: 10px;
									padding: 1rem 0;
									font-size: 1.2rem;
								}
								input {
									width: 30%;
								}

								select {
									margin-left: 10px;
								}

								.datebox-selects {
									select {
										margin-left: 10px;
									}
									
								}
								.wp-editor-tools,.mce-toolbar-grp,.mce-path,.quicktags-toolbar {
									display: none;
								}
								.mce-statusbar {
									border: none;
								}
								.wp-editor-wrap {
							    position: relative;
							    width: 30%;
							    float: left;
							    margin-left: 10px;
								}
							}
						}
					}
					.submit {
						input {
							display: block;
    					margin: 0 auto;
    					background-color: $color__continue--button;
    					color: black;
						}
					}

					.personal-details {
						.profile-fields {
							.field_gender {
								a {
									pointer-events: none;
									text-decoration: none;
									color: black;
								}
							}
						}
					}

				}
			}

			form#whats-new-form {
				p.activity-greeting {
					margin: 0 auto
					;
				}

				a {

					img{
				    height: 50px;
				    width: 50px;
				    border-radius:  50%;
				    position:  relative;
				    top: 20px;
			  	}

				}
			}
			.activity {
				.activity-avatar{
							a {
								img {
									height: 30px;
							    margin-left: 30px;
							    width: 30px;
							    border-radius: 50px;
								}
							}
						}
				.activity-list {
					.activity_update {
						padding-bottom: 40px;
						.activity-avatar{
							a {
								img {
									height: 30px;
							    margin-left: 30px;
							    width: 30px;
							    border-radius: 50px;
								}
							}
						}
					}
					.activity-content {
						.activity-inner {
							p {
							 	padding: 0;
						    text-align: left;
						    width: 100%;
							}
						}
					}
					.activity-header {
						p {
							padding: 0;
					    text-align: left;
					    width: 100%;
					    a.view{
					    		&::after {
					    			display: none;
					    		}
					    		&:hover {
					    			text-decoration: none;
					    			cursor: auto;
					    		}
					    }

						}
					}
				}
				.activity-comments {

					ul {
						margin-top: 10px;

						li {

							.acomment-avatar {

								a {

									img {
										border-radius: 50%;
										width: 20px;
										height: 20px;
									}

								}
							}

							.acomment-meta {
								margin-top: 5px;
							}

							.acomment-content {
								font-size: 1rem;

								p {
									text-align: left;
								}

							}
						}
					}
				}

				.rw-ui-container.rw-halign-right {
					margin-top: inherit;
				}

			}
		}
	}
}

.profile-edit {
	form {
		ul {
			display: none;
		}
	}
}

.friends.my-friends {
	.bp_members {
		#item-body {
			.members.friends {
				#members-list {
					.bp__single-member--back{
						position: relative;
						width: 20%;
						overflow: hidden;
						float: left;
						margin: 10px 0;
						padding: 0;
						margin: 0;

						.bp__members--background{
							position: absolute;
							border-radius: 10px;
							width: 100%;
					    height: 100%;
					    z-index: 1;
						}

						.item-avatar, .item-title, .item-meta {
							z-index: 2
						}

						.bp__single-members--information {
							position: absolute;
					    top: 0;
					    bottom: 0;
					    width: 100%;
					    height: 100%;
					    background-color: rgba(250,250,250,0.6);
					    transform: translateY(100%);
					    transition: .8s;
					    border-radius: 10px;

					    .friendship-button {
					    	a {
					    		background-color:green;
					    		border: 1px solid black;
					    		border-radius: 10px;
					    		padding: .5rem
					    	}
					    }

					    .activity-read-more {
					    	display:none;
					   	}

					   	.second_tab_list {
					   		right: 0;
					   		position: absolute;
					    	bottom: 0;
						    text-align: center;
						    order: 4;
					   	}

					    .action {
					    	left: 0;
					    	position: absolute;
					    	bottom: 0;
						    text-align: center;
						    order: 4;
						    a {
						   		color: $color__continue--button;

						   		&:hover {
						   			color: $color__header-search--active;
						   			text-decoration: underline;
						   		}
						  	}
					    }
						}

						.bp-single-member {
							width: 100%;
					    display: flex;
					    flex-direction: column;
					    border-radius: 10px;
					    padding: 0;

					    .item-avatar,
					    .item-meta,
					    .item-title {
					    	padding-bottom: 10px;
					    }

					    .item-title {
					    	padding-right: 10px;
					    }

					    .item-avatar {
					    	order: 2;
						    margin: 0 auto;
						    border-radius: 50%;

						    img {
							    border-radius: 50px;
							    width: 100px;
							    height: 100px;
							    margin: 0;
							    border: 1px solid black;
					    	}
					  	}

					  	.item-meta {
					  		order: 3;

					  		.activity {
					  			width: 100%;
	    						text-align: center;
					  		}

					  	}

					    .item-title {
					    	order: 1;
						    text-align: center;
						    width: 100%;
						    font-size: 1.2rem;
						  }
					    
						}

						&:hover {
							.bp__single-members--information {
						    transform: translateY(0%);
						    transition: .8s;
						    z-index: 4;
							}
						}
						
					  &::after {
					  	@include clearfix;
					  }
					}
				}
			}
		}
	}
}

@media screen and ( min-width: 471px ) {

	.bp_members .entry-content #buddypress .activity .rw-ui-container.rw-halign-right {
		margin-top: 0;
	}

}

@media screen and ( min-width: 806px ) {

	.bp_members .entry-content #buddypress #item-header #cover-image-container #item-header-cover-image #item-header-content {
		left: 120px;
		top: 160px;
	}

	.bp_members #buddypress div.item-list-tabs#subnav {
		padding-top: 10px;
		padding-left: 20px;
		margin-bottom: 40px;
	}

}

@media screen and ( min-width: 880px ) {
	#item-body {
		margin-bottom: 50px;
	}
}

@media screen and ( min-width: 1000px ) {

	.bp_members {
		.entry-content{
			#buddypress {
				#item-header{
					height: auto;

					#cover-image-container {
						 height: 550px;

						#header-cover-image {
							height: 400px;
						}
						
						#item-header-cover-image {
							top: 250px;

							#item-header-avatar{
								width: auto;
						    height: auto;
						    position: absolute;
						    top: -90px;
						    left: 50%;
						    margin-left: -125px;

								a {
									display: inline-block;
							    height: auto;
							    width: auto;

									img {
										margin: 0;
								    width: 250px;
								    height: 250px;
								    border-radius: 50%;
									}

								}
							}

							#item-header-content {
								height: auto;
						    width: auto;
						    float: none;
						    margin: 0 auto;
						    top: 220px;
						    position: relative;
						    left: 0;

						    #item-buttons {
						    	position: absolute;
							    top: 260px;
							    right: 0;
						    }

						    .activity {
						    	margin-top: 10px;
						    }
							}

						}
					}
				}

				#item-nav {
					position: static;
					margin-left: 0;

    			.item-list-tabs {
    				width: fit-content;
    				margin: 0 auto;
    				ul {
    					li {
    						a{
    							padding: 5px 20px;
    							font-size: 1.5rem;
    						}
    					}
    				}
    			}
				}

				#item-body {
					div#subnav {
						padding: 20px 0;
						
						ul {
							height: 40px;
					    display: block;
					    margin: 0 auto;
					    width: fit-content;

    					li {
    						font-size: 1.2rem;

    						a{
    						}
    					}

    					#members-order-select {
    						position: absolute;
    						right: 15px;
    						margin-top: 0;
    						select {
    							position: relative;
    							top: -6px;
    						}
    					}

    				}
					}
				}

				div#message p {
					margin-top: 80px;
					background-color: $color__continue--button;
					border: 1px solid darken( $color__continue--button, 20% );
					color: black;
				}
			}
		}
	}

	.favorites {
		.entry-content {
			#buddypress {
				#item-body {
					.activity {
						padding: 0 10px;

						.activity-avatar a img {
								margin: 5px;
							}

						.activity-list {
							display: flex;
							border: 1px solid #eaeaea;
							padding: 5px 0;

							.activity {
								width: 50%;
								border: none;

								.activity-content {
									margin-left: 40px;

									.activity-meta {

										.rw-ui-container {
											margin-top: 10px;
										}

									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media screen and ( min-width: 1444px ) {
	#item-body {
		margin-bottom: 100px;
	}
}