#buddypress {

	.signup__details--container {
		width: 80%;
		margin: 0 auto;
		text-align: center;

		p {
			width: 100%;
			margin: 0;
			font-size: 1.5rem;
		}

		& ul {
			width: 75%;
	    list-style-type: circle;
	    margin: 0 auto;
	    max-width: 475px;

			& li {
				text-align: left;
				font-size: 1.2rem;
				
			}
		}
	}

	& h2 {
			padding: 0;
			Text-align: center;
		}

	.standard-form#signup_form {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 20%;

		#basic-details-section {
			order: 2;
		}
		#profile-details-section {
			order: 1;

			legend {
				display: none;
			}
		}
		.submit{
			order: 3;
			align-self: center;

			& input {
				background-color: $color__continue--button;
				color: black;
				border: 1px solid black;
		}
	}

		.register-section {
			width: 100%;

			h2 {
				display: none;
			}

			label {
				text-align: left;

				span {
					position: relative;
					top: -3px;
				}
			}
		
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				height: 1em;
			  width: 100%;
			  font-size: 1em;
			  padding: 1.2em 0;
			  text-indent: 0.5em;
			  border: 1px solid black;
			  background-color: #D8D8D8;
			}

			.input-options.datebox-selects::before {
				content: "D.O.B";
				margin-right: 10px;
				font-weight: 700;
			}

			.field-visibility-settings-toggle {
				visibility: hidden;
			}
			.field-visibility-settings-notoggle{
				visibility: hidden;
			}

			.bp-required-field-label {
				font-size: 2rem;
			}

		}
	}
	
	select {
		height: 2rem;
	}

}

@media screen and ( min-width: 806px ) {
	#buddypress {

		.standard-form#signup_form {

			fieldset {
				padding-left: 10%;
			}
		
			.editfield {
				width: 33%;
				float: left;
			}

			& .field_gender select {
				font-size: 1rem;
		    height: 2.7rem;
		    width: 100%;
			}
		
			.field_date-of-birth {
				width: 100%;
				font-size: 1.2rem;

				.input-options.datebox-selects {
				  display: flex;
			    margin: 0 auto;
			    justify-content: center;
			    align-items: center;

			    &::before {
			    	content: "D.O.B";
				    margin-right: 10px;
				    font-weight: 700;
				    margin-left: -15%;
			    }
					
					select {
						height: 2.7rem;
					}

					& > select#field_2_day {
						min-width: 50px;
					}

					& > select#field_2_month {
			    	min-width: 126px;
			    	margin-left: 3%;
			    }

			    & > select#field_2_year {
				    min-width: 79px;
				    margin-left: 3%;
				  }

				}
			}

			#basic-details-section {
				margin-top: 2rem;

				label {
					width: 45%;
			    display: table;
			    float: left;
			    clear: both;
			    text-align: right;
			    max-width: 223px;

			    span {
			    	margin-left: -5px;
				    position: relative;
				    top: -5px;
				    margin-right: 10px;
			    }
				}

				input[type="text"],
				input[type="email"],
				input[type="password"] {
					width: 55%;
			    display: table;
			    float: left;
			    margin-bottom: 2rem;
				}
			}

			.submit input {
				margin-bottom: 2rem;
		    font-size: 2rem;
			}

		}
	}
}

// .signup__varification--overlay {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	background-color: rgba(0,0,0,.5);
// 	z-index: 1000;
// }
