//header style
header {
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(62%, rgba(71,71,71,1)), color-stop(89%, rgba(0,0,0,1)), color-stop(100%, rgba(43,43,43,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b', GradientType=0 );
	width: 95%;
	ul {
		margin-left: 1em;
	}
}



//content

.logo {
	display: inline;
	height: 10.5625em;
	cursor: pointer;
	padding:0;
	margin: 0;
	margin-top: -2.8em;
	margin-left: -3em;
}

.title {
	display: inline-block;
}

.sign-up, .log-in {

	color: #fff;
	display: inline-block;
	font-size: 1.4em;
}

.sign-up {
	right: 9.1em;
	margin-top: 0.5em;
	padding-right: 0.6em;
}

.log-in {
	margin-right: 3.8em;
	margin-top: 0.5em;
}


p.sign-up:hover, p.log-in:hover {
	color: green;
	cursor: pointer;	
}

.log-in::before {
	content: " || ";
	color: #000;
}

/***********************************
************* account **************
***********************************/

.avatar {
	display: inline-block;
	border: 3px solid #000;
	border-radius: 50%;
    position: absolute;
    top: 0.7em;
    width: 4.6875em;
    height: 4.6875em;
    right: 1em;
    cursor: pointer;
    transition: 1s;
}

.dropdown-arrow {
	display: inline-block;
	position: absolute;
	top: 0.8em;
	right: 3.6em;
	font-size: 2em;
	background: none;
	color: white;
	cursor: pointer;
	transition: 100ms;
	will-change: transform;
}

.dropdown-reverse {
	transform: rotateY(180deg);
	transition: 500ms;
	will-change: transform;
}

.avatar-nest {
	display: inline;
	margin: 0;
	height: 6.2em;
	width: 10em;
	background-color: #404040;
    transition: 1s;
    will-change: transform;
    z-index: 1000;
}

.avatar-nest-full {
	height: 20em;
	width: 20em;
	z-index: 10000000;
	transition: 1s;
	will-change: transform;
}
.hidden {
	display: none;
}
.card-hidden-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 19000000;
	background-color: rgba(0,0,0,0.0);
	transition: 1s;
}

.profile-card {
	position: fixed;
	height: 40em;
	width: 40em;
	top: -100%;
	left: 50%;
	margin-left: -325px;
	transition: 1s ease-in-out;
	z-index: 10000000;
}

.avatar-profile-card {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -300px;
	height: 40em;
	width: 40em;
	border-radius: 5%;
	background-color: #000;
	z-index: 1000000000;
	transition: 1s;
	will-change: transform;

}

.card-avatar-pic {
	display: block;
	top: 2em;
	margin:0 auto;
	border-radius: 50%;
	border: 2px solid #000;
    width: 4.6875em;
    height: 4.6875em;
    transform: scale(3.5);
    cursor: pointer;
    transition: 1s;
    will-change: transform;
}

.card-nickname {
	position: relative;
	font-size: 5em;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
	text-align: center;
	color: #fff;
}

.card-description {
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	border: 5px solid #222;
	height: 50%;
	width: 80%;
	text-align: center;
	line-height: 9em;
	font-size: 2em;
}
.card-close {
	position: absolute;
	top: -0.2em;
	left: 4.9em;
	content: '\2718';
	z-index: 100;
	font-size: 7em;
	margin: 0;
	color: red; 
	cursor: pointer;
}

/***********************************
************* Search ***************
***********************************/
.search {
	position: absolute;
	top: 10.5em;
	right: 6.6em;
    width: 13em;
    height: 2.1875em;
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 10px;
    background-color: black;
    border: 3px solid rgba(11,66,26,1);
    color: green;
}

.mag-glass {
	text-decoration: none;
	font-size: 1.4em;
}




