//header style
header {
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(62%, rgba(71,71,71,1)), color-stop(89%, rgba(0,0,0,1)), color-stop(100%, rgba(43,43,43,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 62%, rgba(0,0,0,1) 89%, rgba(43,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b', GradientType=0 );
	width: 95%;
	margin: 2em;
	height: 15em;
	a {
		color: #fff;
	}
	ul {
		margin-left: 1em;
	}
}

header {
	margin-bottom: 2em;
}
//content

.logo {
	display: inline-block;
	margin: 1em;
	margin-top: 2.5em;
	cursor: pointer;
}

.title {
	display: inline;
	transform: scale(2);
	margin-left: 15em;
	margin-bottom: 5em; 
}

.sign-up, .log-in {
	position: absolute;
	top: 1em;
	color: #fff;
	display: inline-block;
	font-size: 1.4em;
}

.sign-up {
	right: 9.1em;
	margin-top: 0.5em;
	padding-right: 0.6em;
}

.log-in {
	right: 2em;
	margin-right: 3.8em;
	margin-top: 0.5em;
}


p.sign-up:hover, p.log-in:hover {
	color: green;
	cursor: pointer;	
}

.log-in::before {
	content: " || ";
	color: #000;
}

/***********************************
************* account **************
***********************************/

.avatar {
	border: 3px solid #000;
	border-radius: 50%;
    position: absolute;
    top: 1em;
    width: 4.6875em;
    height: 4.6875em;
    right: 1em;
    cursor: pointer;
    transition: 1s;
}

.dropdown-arrow {
	position: absolute;
	top: 0.2em;
	right: 3.6em;
	font-size: 2em;
	background: none;
	color: white;
	cursor: pointer;
	transition: 100ms;
	will-change: transform;
}

.dropdown-reverse {
	transform: rotateY(180deg);
	transition: 500ms;
	will-change: transform;
}

.avatar-nest {
	position: absolute;
	height: 6.2em;
	width: 10em;
	background-color: #404040;
	top: 5em;
    right: 8em;
    transition: 1s;
    will-change: transform;
}

.avatar-nest-full {
	height: 20em;
	width: 20em;
	z-index: 100000;
	transition: 1s;
	will-change: transform;
	z-index: 10000000;
}
.hidden {
	display: none;
}
.card-hidden-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 19000000;
	background-color: rgba(0,0,0,0.0);
	transition: 1s;
}

.profile-card {
	position: fixed;
	height: 40em;
	width: 40em;
	top: -100%;
	left: 50%;
	margin-left: -325px;
	transition: 1s ease-in-out;
	z-index: 10000000;
}

.avatar-profile-card {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -300px;
	height: 40em;
	width: 40em;
	border-radius: 5%;
	background-color: #000;
	z-index: 1000000000;
	transition: 1s;
	will-change: transform;

}

.card-avatar-pic {
	display: block;
	top: 2em;
	margin:0 auto;
	border-radius: 50%;
	border: 2px solid #000;
    width: 4.6875em;
    height: 4.6875em;
    transform: scale(3.5);
    cursor: pointer;
    transition: 1s;
    will-change: transform;
}

.card-nickname {
	position: relative;
	font-size: 5em;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
	text-align: center;
	color: #fff;
}

.card-description {
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	border: 5px solid #222;
	height: 50%;
	width: 80%;
	text-align: center;
	line-height: 9em;
	font-size: 2em;
}
.card-close {
	position: absolute;
	top: -0.2em;
	left: 4.9em;
	content: '\2718';
	z-index: 100;
	font-size: 7em;
	margin: 0;
	color: red; 
	cursor: pointer;
}

/***********************************
************* Search ***************
***********************************/
.search {
	position: absolute;
	top: 10.5em;
	right: 6.6em;
    width: 13em;
    height: 2.1875em;
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 10px;
    background-color: black;
    z-index: 1;
    border: 3px solid rgba(11,66,26,1);
    color: green;
}

.mag-glass {
	position: absolute;
	top: 9.3em;
	right: 15.3em;
	text-decoration: none;
	z-index: 100; 
	font-size: 1.4em;
}

/***********************************
****** Header media queries ********
***********************************/

@media screen and (max-width: 1470px) {
	.title {
		transform: scale(1.2);
		height: 5em;
		margin-left: 5em;
		margin-bottom: 4em; 
	}
	.logo {
		margin: 2em 1em;
		padding: 0;
	}
}

@media screen and (max-width: 1350px) {
	.title {
		transform: scale(1);
		height: 5em;
		margin-left: 1em; 
	}
	.logo {
		transform: scale(0.8);
	}
	.search {
		width: 11em;
	}
	.mag-glass {
		right: 19.5em;
	}
}

@media screen and (max-width: 1180px) {
	.title {
		position: absolute;
		left: 10em;
		top: 6em;
		transform: scale(0.8);
	}
	.logo {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 1048px) {
	.title {
		position: absolute;
		left: 5em;
		top: 6em;
		transform: scale(0.8);
	}
	.logo {
		min-width: 120px;
	    max-width: 120px;
	    height: 7em;
	    margin-top: 4em;
	    margin-bottom: 3em;
	}
}

@media screen and (max-width: 918px) {
	header {
		padding-bottom: 0.1em;
	}
	.logo {
		display: block;
		margin: 0 auto;
		padding-bottom: 10em;
		padding-top: 1em;
	}
	.title {
		position: absolute;
		display: block;
		margin: 1.5em auto;
		padding-top: 3em;
		right: 0;
		left: 0;
	}
	.search {
	display: none;
	}
	.mag-glass {
		position: absolute;
		top: 4.9em;
		right: 1em;
		font-size: 3em;
		transform: rotate(270deg);
		border: 2px solid black;
		background-color: rgba(11,66,26,1);
	}
	.sign-up {
		right: 5.25em;
	}
	.log-in {
		right: 2em;
		margin-right: 0;
	}
	.avatar-nest {
		position: absolute;
		height: 4.5em;
		width: 7em;
		background-color: #404040;
		right: 2.5em;
		top: 4em;
	}
	.menu-text {
		display: none;
	}
}

@media  screen and (max-width: 572px) {
	.title {
		width: 90%;
	}
	.avatar-nest {
		display: none;
	}
}
