/////////////////////////////////////
///////////General inputs////////////
/////////////////////////////////////
input {
	height: 1em;
	width: 10rem;
	font-size: 1em;
	padding:0.9em 0;
	text-indent: 0.5em;
	border: 1px solid black;
	background-color: $color__background--input;
}
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="datetime-local"] {
  text-indent: 0.2em;
  width: 13em;
}

input::placeholder {
	color: #858585;
}

input[type='color'] {
	padding: 0;
	height: 30px;
}

textarea {
	font-size: 1em;
	padding: 0.5em;
	border: 1px solid black;
	width: 15rem;
	resize: none;
}

textarea:focus, input:focus, select:focus {   
    border-color: $color__continue--button;
    box-shadow: 0 1px 1px $color__continue--button inset, 0 0 8px $color__continue--button;
    outline: 0 none;
}

/////////////////////////////////////
////////////input buttons////////////
/////////////////////////////////////
input[type='submit'], input[type='reset'],input[type='button'] {
	@include button-size--small;
}
input[type='submit'] {
	background-color: $color__continue--button;
}
input[type='reset'] {
	background-color: $color__cancel--button;
}
input[type='button'] {
	background-color: $color__secondary--button;
}
input[disabled] {
	background-color: $color__primary--background;
}

/////////////////////////////////////
/////////////fieldset////////////////
/////////////////////////////////////
fieldset {
	margin-top: 2em;
}
legend {
	text-align: center;
	font-size: 2em;
}

label {
	display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 30px;
}

/////////////////////////////////////
///////////Gform styles//////////////
/////////////////////////////////////
.contact__details + article .entry-header {
	display: none;
}

.entry-content .gform_wrapper {

	.gfield {
		display: table;
    width: 100%;
	}

	.gfield_label {
		width: 32% !important;
    margin-right: 0px;
    padding-right: 30px;
    padding-top: 4px;
    float: left;
	}

	input.medium {
		width: 100% !important;
		height: 2rem !important;
	}
	& textarea.medium {
		width: 100% !important;
	}

	.gform_footer {
		display: table;
		margin-left: 0 !important;
		width: 100% !important;
	}

	.gform_footer input[type="submit"] {
		display: block;
		width: auto;
		font-size: 1.2rem;
		margin: 0 auto;
		width: 50%;
	}

	.gfield_select {
		margin-left: 1px;
    background-color: #D8D8D8;
    border-radius: 0;
    border-color: black;
    height: 2rem !important;
    width: 100% !important;
    padding: 5px 4px; 
  }

	.ginput_container {
    float: left;
    width: 50%;
	}

	.charleft {
    width: auto !important;
    text-align: right;
	}

	.bumper {
		padding-bottom: 14px;
	}

}

.contact__details--button {
	width: 50%;
	display: block;
	margin: 0 auto;
	background-color: $color__secondary--button;
	margin-bottom: 2rem;
	font-size: 1rem;
}

.entry-content .gform_wrapper .gform_footer {
			clear: none;
		}

.page__wrapper .contact__details {
	    width: 100%;
	    float: right;
	    text-align: center;
	    margin-bottom: 40px;
	    transition: 1s;

	    & em {
	    	color: red;
	    }

	    & li {
	    	list-style: square;
	    	text-align: left;
	    }

	    p {
	    	width: 90%;
	    	text-align: left;
	    	padding: .6rem;
	    	margin: .4rem auto;
	    }

	    & h3 {
	    	margin-top: 0;
	    }


		}

		.contact__details .social-icon__container {
	    	margin-top: 20px;
	    }

	.contact__details--open {
	display: block;
}

.form__legal-info {
	font-size: .7rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  clear: both;
}

@media screen and (min-width: 880px) {

.entry-content .gform_wrapper .gform_footer {
		margin-bottom: 60px;
	}

	.form__legal-info {
	  width: 40%;
	}

}

@media screen and (min-width: 1001px) {

.contact__details--button {
	display: none;
}

.page__wrapper .gform_footer input[type="submit"] {
		display: table;
		width: 100%;
		margin-top: 20px;
	}

.page__wrapper .contact__details.display-none, 
.page__wrapper .contact__details.contact__details--open {
			display: block;
			width: 50%;

			p {
				margin: .4rem 0;
			}

		}
	.entry-content {

		.gform_wrapper {
			width: 50%;

			.ginput_container {
		    width: 60%;
			}

			.gform_fields {
		    width: 100%;
		    float: left;
			}

			.gform_wrapper 
			.ginput_container {
				width: 68% !important;
			}
	 
			.left_label textarea.medium {
				width: 100%;
			}
		}
	}
	.form__legal-info {
	  width: 45%;
	}

}

@media screen and (min-width: 1444px) {

	.entry-content .gform_wrapper .gform_footer {
		margin-bottom: 120px;
	}

}

@media screen and (min-width: 1444px) {
	.form__legal-info {
	  width: 50%;
	}
}

/////////////////////////////////////
///////////Other styles//////////////
/////////////////////////////////////
.is-error {
	color: $color__cancel--button;
	border-color: $color__cancel--button;
}
.is-valid {
	color: $color__continue--button;
	border-color: $color__continue--button;
}

/////////////////////////////////////
///////////Media Queries/////////////
/////////////////////////////////////
@media screen and (min-width: 432px) {
	textarea {
		font-size: 1.2em;
		width: 20rem;
		height:10rem;
	}
	label {
    font-size: 1.5em;
    width: 150px;
  }
  	input[type='submit'], input[type='reset'],input[type='button'], input[disabled]{
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  label {
    font-size: 1.5em;
    width: 250px;
  }
}

@media screen and (min-width: 1000px) {
	textarea {
		font-size: 1.2em;
		width: 25rem;
		height:10rem;
	}
}

