.page__background {
	background-color: $color__primary--background;
	padding: 8% 10%;
	padding-bottom: 0;
}

.page__wrapper {
	background-color: #fff;
	margin: 0 auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
  box-shadow: 12px 10px 15px 0px rgba(0, 0, 0, 0.8), -12px 10px 15px 0px rgba(0, 0, 0, 0.8);
  @include clearfix;

	& h1 {
		text-align: center;
		padding: 6rem;
		padding-bottom: 2rem;
	}

	.entry-content {

		display: block;
		margin: 0 auto;

		p {
			margin: 0 auto;
			margin-bottom: 4rem;
		}

	}
}