$color__Black--pure: #000;
$color__white--pure: #fff;
$color__primary--background: #494949;
$color__continue--button: #7ED321;
$color__cancel--button: #D0021B;
$color__secondary--button: #2379A7;
$color__background--input: #D8D8D8;
$color__background--primary-menu: rgba(250, 250, 250, 0.66);
$color__header-search--active: #1f8e55;