/***********************************
********** burger menu *************
***********************************/
.menu-overlay, .pie, .pie1, .label, .slice {
	transition: all 1s ease-out;
}

.menu-overlay {
	position: fixed;
    width: 100%;
    height: 100em;
    background: rgba(0,0,0,0.9);
    z-index: 100000;
    margin-left: 0;
    padding-top: 2em; 
    top: 0;
    right: 0;
    
}

.menu-default {
	position: fixed;
	top: 0em;
}

.pie1 {
	list-style: none;
	 z-index: 1000001;
}

.label{
	display: none;
	 transform: rotate(0deg) skewY(0deg);
	  z-index: 1000001;
}

.pie {
  position: relative;
  margin: 5em auto;
  padding-left: 10em;
  width: 32em; height: 32em;
  border-radius: 50%;
  list-style: none;
  z-index: 1000001;
}
.slice {
  overflow: hidden;
  position: absolute;
  top: 50%; right: 50%;
  margin-top: -200px;
  margin-right: -360px;
  width: 70%; height: 50%;
  transform-origin: 0% 100%;
  z-index: 1000002;
}

.slice-contents1, .slice-contents2, .slice-contents3, .slice-contents4, .slice-contents5 {
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  border-radius: 50%;
  background: lightblue;
  z-index: 1000003;
  background: rgba(11,66,26,1);
}

.slice1, .slice2, .slice3, .slice4, .slice5, .slice-contents {
  transform: skewY(22.5deg); 
  cursor: pointer;
  z-index: 1000001;
}

.slice1 {
  transform: rotate(0deg) skewY(-22.5deg);
}

.slice2 {
  transform: rotate(72deg) skewY(-22.5deg);
}

.slice3 {
  transform: rotate(144deg) skewY(-22.5deg);
}

.slice4 {
  transform: rotate(216deg) skewY(-22.5deg);
}

.slice5 {
  transform: rotate(288deg) skewY(-22.5deg);
}

.slice-contents:hover { 
	background: #222;
	cursor: pointer; 
} 
.radial-label1, .radial-label2, .radial-label3, .radial-label4, .radial-label5 {
	position: absolute;
	display: inline-block;
	z-index: 1000006;
	top: 2em;
	right: 6em;
	color: #fff; 
}    

.radial-label2 {
	transform: rotate(-73deg);
}

.radial-label3 {
	right: 5em;
	transform: rotate(215deg);
}

.radial-label4 {
	transform: rotate(144deg);
}

.radial-label5 {
	transform: rotate(70deg);
}
.logo-overlay1 {
	display: none;
}

.logo-overlay {
	position: absolute;
	display: inline-block;
	z-index: 1000006;
	top: 15em;
	transform: scale(0.7) ;
}

.logo-overlay:hover {
	transform: scale(1);
	transition: 1s ease-in-out;
}

.menu-close, .menu-text {
	position: fixed;
    top: 0;
    right: 0;
    padding-right: 1em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: green;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 5em;
    color: #fff;
    cursor: pointer;
    z-index: 10000000;

}

.next, .prev, #top-current-number, .next1, .prev1, .games-number, .menu-close, .menu-text {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;    
  user-select: none; 
}

.menu-close {
    width: 1.4em;
	padding-left: 0.36em;
}
.menu-text {
	width: 1.4em;
	padding-left: 0.24em;
}

.menu-close::before {
	color: red;
	content: '\2718';
}

.menu-text::before { 
	background-color: green;
	content:'\2630'; 
}

/***********************************
************ nav bar ***************
***********************************/

ul, ul.top-nav {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul.top-nav {
	display: flex;
	justify-content: center;
	margin-right: 2.5em;
}

ul li.top-nav-items {
	display: flex;
	color: #fff;
	font-size: 1.8em;
	padding: 0.7em 3.5em;
	background-color: rgba(11,66,26,1);
	border: 2px solid black;
	cursor: pointer;
	text-decoration: none;
	margin: 0 0.5em;
  text-align: center;
}

ul li.top-nav-items:hover {
	color: green;
}











