@mixin button-size--small {
	width: 7em;
	height: 2.5em;
}
@mixin font__new-rocker{
	font-family: 'New Rocker', cursive;
}
@mixin font__roboto{
	font-family: 'Roboto', sans-serif;
}
@mixin clearfix {
	content: "";
  display: table;
  clear: both;
}
@mixin footer__social-icons ($top, $mr, $filename) {
	top: 12px;
	margin-right: 10px;
	content: url("../svgs/#{$filename}.svg");
}
@mixin footer-images ($pos, $top, $dis, $filename, $scale) {
	position: $pos;
	top: $top;
	display: $dis;
	content: url("../svgs/#{$filename}.png");
	transform: scale($scale);
}

$button__border-radius: 10px;

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
