@mixin button-size--small {
	height: 2.5em;
	width: initial;
	padding: 0 1rem;
	font-size: 10px;
	text-indent: 0;
	border-radius: $button__border-radius;
}
@mixin font__new-rocker{
	font-family: 'New Rocker', cursive, Arial;
}
@mixin font__roboto{
	font-family: 'Roboto', sans-serif, Arial;
}
@mixin clearfix {
	content: "";
  display: table;
  clear: both;
}
@mixin footer__social-icons ($top, $mr, $filename) {
	top: $top;
	height: 30px;
	width: 30px;
	display: block;
	float: left;
	margin: 0 auto;
	margin-right: $mr;
	content: url("../imgs/#{$filename}.png");
}
@mixin footer-images ($pos, $top, $dis, $filename, $scale) {
	position: $pos;
	top: $top;
	display: $dis;
	content: url("../imgs/#{$filename}.png");
	transform: scale($scale);
}

$button__border-radius: 10px;

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
