/////////////////////////////////////
//////////////selects////////////////
/////////////////////////////////////
.form__select-container--title,
.form__select-container--day,
.form__select-container--month,
.form__select-container--year {
  .select {
    width: 150px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 0 white;
    border-radius: 2px;
    padding: 0;
    z-index: 100;

    input[type=radio] {
      position: relative;
      width: 0px;
    }

    &_options {
      padding: 0;

      .select_option:first-of-type {

        .select_label {
          border-top: 1px solid black;
        }

      }

    }
    
    &_expand {
      width: 40px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 90%;
      visibility: hidden;

      &::after {
        content: url("../svgs/select-arrow.svg");
        position: absolute;
        display: inline-block;
        visibility: visible;
        top: 50%;
        right: 0;
        transform: translate(20%, -45%) rotateY(0deg) scale(0.7);
        font-size: 30px;
        pointer-events: none;
        z-index: 2;
        transition: all 250ms ease;
      }

      &:checked::after {
        transform: translate(20%, -55%) rotateX(180deg) scale(0.7);
        font-size: 30px;
      }

    }

    &_expand-white {
      @extend .select_expand;

      &::after {
        @extend .select_expand::after;
        content: url("../svgs/select-arrow-white.svg");
      }

      &:checked::after {
         @extend .select_expand:checked::after;
      }

    }

    &_expand--form {

      @extend .select_expand;

      &::before {
        content: "|";
        visibility: visible;
        font-size: 50px;
        color: black;
        position: absolute;
        transform: translate(-60px, -15px);

      }

    }

    &_expandLabel {
      display: block;
      width: 100%;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0px;
      cursor: pointer;
      margin-right: 0px;
    }
    
    &_close {display: none}
    
    &_closeLabel {
      position: fixed;
      top: 0;
      left: 0;
      display: none;
    }
    
    &_items {
      width: 100%;
      position: relative;
      top: -40px;
      left: 0px;
      border: 2px solid black;
      border-radius: 2px;
      z-index: 1;
    }
    
    &_input {display: none}
    
    &_label {
      transition: all 250ms cubic-bezier(.4,.25,.3,1);
      display: block;
      height: 0;
      font-size: 1.2rem;
      line-height: 40px;
      overflow: hidden;
      color: #3e3e3e;
      background-color: #fff;
      cursor: pointer;
      padding-left: 20px;
      width: 100%;
      text-align: left;
      
      &-placeholder {
        height: 40px;
        vertical-align: middle;
        position: relative;
        top: 2px;
        left: 0;
        background-color: $color__background--input;
      }

    }
    
    &_expand:checked {
      + .select_closeLabel {
        display: block;
        
        + .select_options {
          .select_label {
            height: 40px;
            &:hover {background-color: lighten($color__continue--button, 20%);}
          }
          
          + .select_expandLabel {display: none}
        }
      }
    }

    &_expand--form:checked {
      + .select_closeLabel {
        display: block;
        
        + .select_options {
          .select_label {
            height: 40px;
            &:hover {background-color: lighten($color__continue--button, 20%);}
          }
          
          + .select_expandLabel {display: none}
        }
      }
    }
    
    &_input:checked + .select_label {
      height: 40px;
      margin-top: -40px;
    }

  }

  .green{
    background-color: $color__continue--button;
  }

  .black {
    background-color: black;
    color: white;
  }
}


