/////////////////////////////////////
///////////Global stylings///////////
/////////////////////////////////////

.test-p-input {
	width: 100%;
}

* {
	@include font__roboto;
	box-sizing: border-box;

}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: grey;
}

section {
	background-color: white;
	padding: 0;
	margin: 0;
}

footer {
	border: 2px solid black;
	background-color: white;
	@include clearfix;
	width: 100%;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, dt {
	@include font__new-rocker;
}

h1, dt {
  font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3{
	font-size: 2rem;
}
h4, dd  {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}

p {
	padding: 1rem;
	text-align: center;
	width: 60%;
}

ul {
	list-style: none;
}

a{
	color: $color__continue--button;
	text-decoration: none;
}

img {
	display: block;
	border-radius: 10px;
}

u {
	border-bottom: 1px double black;
}

caption, figcaption, kbd, em, i, q, dfn, cite {
	font-style: italic;
}

caption {
	color: $color__cancel--button;

}

strong, b, abbr {
	font-weight: 700;
}

abbr {
	text-decoration: none;
}

dl {
	padding-left: 1rem;
}

table {
	margin: 1rem;
}
th {
	padding: 1rem;
}
tr, td {
	padding: 0.5em;
}
tr, th, td{
	border: 1px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

mark {
	background-color: $color__continue--button;
}

code {
	color: $color__cancel--button;
}
textarea {
	font-size: 1em;
	padding: 0.5em;
	border: 1px solid black;
	width: 15rem;
	resize: none;
}
/////////////////////////////////////
/////////////fieldset////////////////
/////////////////////////////////////
fieldset spa {
	margin-top: 2em;
}

/////////////////////////////////////
////////////input buttons////////////
/////////////////////////////////////
input[type='submit'], input[type='reset'],input[type='button'] {
	@include button-size--small;
}
input[type='submit'] {
	background-color: $color__continue--button;
}
input[type='reset'] {
	background-color: $color__cancel--button;
}
input[type='button'] {
	background-color: $color__secondary--button;
}
input[disabled] {
	background-color: $color__primary--background;
}
legend {
	text-align: center;
	font-size: 2em;
}

label {
	display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 30px;
}

// inputs
input {
	height: 1em;
	width: 10rem;
	font-size: 1em;
	padding:0.9em 0;
	text-indent: 0.5em;
	border: 1px solid black;
	background-color: $color__background--input;
}
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="datetime-local"] {
  text-indent: 0.2em;
  width: 13em;
}
textarea:focus, input:focus, select:focus {   
    border-color: $color__continue--button;
    box-shadow: 0 1px 1px $color__continue--button inset, 0 0 8px $color__continue--button;
    outline: 0 none;
}

input::placeholder {
	color: #858585;
}

input[type='color'] {
	padding: 0;
	height: 30px;
}

/////////////////////////////////////
///////////Media Queries/////////////
/////////////////////////////////////
@media screen and (min-width: 432px) {
	textarea {
		font-size: 1.2em;
		width: 20rem;
		height:10rem;
	}
}
@media screen and (max-width: 805px) {
		* {
		font-size: 0.8rem;
	}
	th {
		padding: 0.5rem;
	}
	tr, td {
		padding: 0.25rem;
	}
	img {
		height: 25rem;
		width: 25rem;
	}
}
@media screen and (min-width: 1000px) {
	main {
		padding-left: 4%;
		padding-right: 4%;
	}
	textarea {
		font-size: 1.2em;
		width: 25rem;
		height:10rem;
	}
}
@media screen and (max-width: 400px) {
	footer {
		border: 0;
	}
	img {
		height: 20rem;
		width: 20rem;
	}
}
@media screen and (min-width: 425px) {
	input[type='submit'], input[type='reset'],input[type='button'], input[disabled]{
    font-size: 1.2em;
  }
}
