input, select, textarea {outline-color: green;}
input {padding-left: 0.8em;}
.form-layout {
	display: flex;
	justify-content: center;
}
#contact-form {
	display: flex;
	width: 35em;
	margin-bottom: 2em;
	margin-right: 4em;
}
#contact-title {
	text-align: center;
	font-size: 4em;
	color: white;
}
label {
	color: red;
	margin-right: 0.5em;
	margin-left: 0.5em;
	font-size: 1.5em;
}
.field-set {
	display: flex;
	justify-content: center;
	margin: 2em;
}
#form-first-name, #form-last-name, #form-email, #form-account-name, #form-number, #comments {
	width: 15em;
	height: 2.5em;
}
#selection {
	width: 10em;
	display: block;
	margin: 1em auto;
}
#comments {
	display: flex;
	width: 25em;
	height: 7em;
	margin: 0 auto;
	margin-bottom: 2em;
	padding: 0.5em 0.7em;
	resize: none;
}

#buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}
#submit, #cancel {
	font-size: 1.5em;
	width: 6em;
	border: 1px solid #000;
	box-shadow: 3px 4px 0px #888;
}
#submit:active, #cancel:active {
	transition: 0s;
	transform: translateY(4px) translateX(3px);
	box-shadow: 0px 0px 0px #888;
}
#submit {
	background-color: green;
	margin-right: 2em;
}
#cancel {
	background-color: red;
}
button {
	outline: none;
}
.label-drop {
	position: absolute;
	left: 11.5em;
}
.label-text {
	position: absolute;
	left: 7em;
}
.form-description {
	width: 35em;
	p, h1, h3 {
		color: #fff;
	}
	u {
		color: red;
	}
	h1, h3 {
		text-align: center;
	}
	h3 {
		color: red;
	}
	p {
		font-size: 1.2em;
		text-align: inherit;
	}
	li {
		color: #bbb;
		margin-top: -1em;
		margin-left: 2em;
		margin-bottom: 0.5em;
		list-style: square;
	}
}

.suc11, .suc12, .suc13, .suc14, .suc15, .suc16, .suc17 {
	display: none;
}

.success-box {
	position: fixed;
	display: block;
	z-index: 1000000000000;
	top: 15vh;
	left: 50%;
	margin-left: -400px;
	text-align: center;
	background-color: black;
	width: 50em;
	border: 5px solid green;
	h1 {
		padding-top: 0.3em;
	}
}
.success-box-x {
	position: absolute;
	top: -1.33em;
	right: 0;
	color: red;
	font-size: 7em; 
	z-index: 1000000000004;
	cursor: pointer;
}
.box-head, .box-foot {
	height: 6.2em;
	width: 49.5em;
	background-color: green;
	padding-top: 10px;
	z-index: 1000000000000;
}
.box-head {
	margin-top: 0em;
}
.success-text {
	color: green;
	font-size: 2em;
	padding: 4em 0;
	z-index: 1000000000000;
}
.success-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.1);
	z-index: 99999999999;
}






